.about{
    padding: 120px 0;
    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        @include media(1200){
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 40px;
        }
    }
    &__title{
        margin-bottom: 20px;
    }
    &__p{
        font-size: 18px;
        line-height: 120%;
        color: #838387;
        margin-bottom: 22px;
    }
    &__btn{
        font-size: 18px;
        line-height: 33px;
        color: #FFFFFF;
        background: #4F52FF;
        border-radius: 51px;
        width: 250px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    &__img{
        margin-left: 20px;
        max-width: 50%;
        width: 100%;

        @include media(1200){
            margin-top: 50px;
            max-width: 100%;
            width: 500px;
            margin-left: 0;
        }
    }
    &__slider{
        padding: 0px 39px;
        .swiper-wrapper{
            display: flex;
            align-items: stretch;
            .swiper-slide{
                height: 100% !important;
            }
        }
        &-item{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            &-img{
                max-width: 100%;
                width: 200px;
            }
        }
    }
    .swiper-button-next,.swiper-button-prev{
        color: #4F52FF;
    }
}