.catalog{
    padding: 120px 0 80px 0;
    &__title{
        margin-bottom: 45px;
    }
    &__content{
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
    }
    &__item{
        width: calc(25% - 20px);
        margin-bottom: 40px;
        @include media(992){
            width: calc(50% - 10px);
        } 
        @include media($md){
            width: 100%;
        }  
        img{
            max-width: 100%;
            width: 100%;
            margin-bottom: -5px;
            height: 200px;
            object-fit: cover;
        }
        &-desc{
            height: 100px;
            background: #E9EFFD;
            display: flex;
            align-items:center;
            justify-content: flex-start;
            padding-left: 40px;
            font-weight: 800;
            font-size: 18px;
            line-height: 120%;
            color: #101011;
        }
    }
}