.intro{
    margin-top: 20px;
    margin-bottom: 50px;
    &__item{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__title{
        font-size: 60px;
        line-height: 120%;
        text-transform: uppercase;
        color: #101011;
        margin-bottom: 24px;
    }
    &__desc{
        font-size: 24px;
        line-height: 120%;
        color: #838387;
        margin-bottom: 50px;    
    }
    &__img{
        max-width: 40%;
        width: 100%;
        margin-left: 15px;
    }
}