mixin about()
    .about 
        .about__body.container
            .about__content
                .about__content-left 
                    h2.title.about__title О компании
                    p.about__p Интернет-магазин Lalalux.ru – это крупнейшее объединение поставщиков строительных материалов со всей Москвы. Наша платформа создана для того, чтобы вы смогли получить всё самое лучшее в короткие сроки.
                    p.about__p Мы не просто удобная платформа для покупки строительных материалов, но также и место, где вы можете заказать индивидуальный дизайн помещения, найти профессиональную строительную бригаду или заказать расчёт стоимости ремонта.
                    a(href="#!").about__btn Подробнее 
                img(src="images/about.png", alt="").about__img
            .about__slider.swiper 
                .about-button-prev.swiper-button-prev
                .about-button-next.swiper-button-next
                .swiper-wrapper 
                    .swiper-slide.about__slider-item
                        img(src="images/about-1.png", alt="").about__slider-item-img
                    .swiper-slide.about__slider-item
                        img(src="images/about-2.png", alt="").about__slider-item-img
                    .swiper-slide.about__slider-item
                        img(src="images/about-3.png", alt="").about__slider-item-img
                    .swiper-slide.about__slider-item
                        img(src="images/about-4.png", alt="").about__slider-item-img
                    .swiper-slide.about__slider-item
                        img(src="images/about-5.png", alt="").about__slider-item-img
                    .swiper-slide.about__slider-item
                        img(src="images/about-6.png", alt="").about__slider-item-img
                    .swiper-slide.about__slider-item
                        img(src="images/about-7.png", alt="").about__slider-item-img
                    .swiper-slide.about__slider-item
                        img(src="images/about-8.png", alt="").about__slider-item-img

