mixin advantages()
    .advantages.container 
        .advantages__item
            img(src="images/advantages-1.svg", alt="").advantages__item-img
            p.advantages__item-p Быстрая доставка  стройматериалов
        .advantages__item
            img(src="images/advantages-2.svg", alt="").advantages__item-img
            p.advantages__item-p Гарантия качества  и лучшей цены
        .advantages__item
            img(src="images/advantages-3.svg", alt="").advantages__item-img
            p.advantages__item-p Обмен товаров в случае брака в течении 15 дней
        .advantages__item
            img(src="images/advantages-4.svg", alt="").advantages__item-img
            p.advantages__item-p Регулярные скидки на все категории товаров
