mixin catalog()
    .catalog    
        .catalog__body.container 
            h2.catalog__title.title Каталог
            .catalog__content 
                .catalog__item
                    img(src="images/catalog-1.png", alt="")
                    .catalog__item-desc Начало ремонта
                .catalog__item
                    img(src="images/catalog-2.png", alt="")
                    .catalog__item-desc Возведение стен 
                .catalog__item
                    img(src="images/catalog-3.png", alt="")
                    .catalog__item-desc Штукатурка стен 
                .catalog__item
                    img(src="images/catalog-4.png", alt="")
                    .catalog__item-desc Монтаж электрики
                .catalog__item
                    img(src="images/catalog-5.png", alt="")
                    .catalog__item-desc Установка сантехники
                .catalog__item
                    img(src="images/catalog-6.png", alt="")
                    .catalog__item-desc Стяжка пола
                .catalog__item
                    img(src="images/catalog-7.png", alt="")
                    .catalog__item-desc Шпаклевка стен
                .catalog__item
                    img(src="images/catalog-8.png", alt="")
                    .catalog__item-desc Укладка плитки 