mixin footer()
    .footer 
        .footer__body.container
            a(href="#!").footer__logo
                img(src="images/logo-2.png", alt="") 
            .footer__row 
                .footer__col
                    p.footer__title Наши контакты
                    a(href="#!").footer__link +7 925 428 8288
                    a(href="#!").footer__link info@lalalux.ru
                    a(href="#!").footer__link info@lalalux.ru
                    a(href="#!").footer__link г.Москва строительный рынок «Мельница», 41 км МКАД Л8/7
                .footer__col
                    p.footer__title Компания
                    a(href="#!").footer__link О компании
                    a(href="#!").footer__link Новости
                    a(href="#!").footer__link Вакансии
                    a(href="#!").footer__link Политика
                .footer__col
                    p.footer__title Информация
                    a(href="#!").footer__link Помощь
                    a(href="#!").footer__link Условия оплаты
                    a(href="#!").footer__link Условия доставки
                    a(href="#!").footer__link Гарантия на товар
                .footer__col
                    p.footer__title Помощь
                    a(href="#!").footer__link Блог
                    a(href="#!").footer__link Вопрос-ответ
                    a(href="#!").footer__link Бренды
                .footer__col
                    p.footer__title Оставайтесь на связи
                    .footer__icons 
                        a(href="#!").footer__i 
                            img(src="images/wk.svg", alt="")
                        a(href="#!").footer__i 
                            img(src="images/facebook.svg", alt="")
                        a(href="#!").footer__i 
                            img(src="images/instagram.svg", alt="")
            p.footer__p 2021 © LaLaLux - строительный интернет-магазин
            p.footer__subp Разработка: Lumoore Agency & Alexandra Yarosh