mixin intro()
    .intro 
        .intro__body.container 
            .intro__item
                .intro__content     
                    h1.intro__title Все для ремонта <br>и строительства
                    p.intro__desc Ручные и электроинструменты, строительные  <br>и отделочные материалы
                    a(href="#!").intro__btn.btn Каталог 
                img(src="images/intro-1.png", alt="").intro__img