mixin intro()
    .container
        .swiper.intro
            .swiper-wrapper.intro__body
                .swiper-slide.intro__item
                    .intro__content     
                        h1.intro__title Подбор продукции
                        p.intro__desc Мы поможем подобрать лучшие варианты товаров под ваши задачи
                        a(href="#!").intro__btn.btn Каталог 
                    img(src="images/intro-4.png", alt="").intro__img
                .swiper-slide.intro__item
                    .intro__content     
                        h1.intro__title Все для ремонта <br>и строительства
                        p.intro__desc Ручные и электроинструменты, строительные  <br>и отделочные материалы
                        a(href="#!").intro__btn.btn Каталог 
                    img(src="images/intro-1.png", alt="").intro__img
                .swiper-slide.intro__item
                    .intro__content     
                        h1.intro__title Акционные товары
                        p.intro__desc Сезонные товары для вашего дома и бизнеса по лучшей стоимости
                        a(href="#!").intro__btn.btn Каталог 
                    img(src="images/intro-2.png", alt="").intro__img
                .swiper-slide.intro__item
                    .intro__content     
                        h1.intro__title Станьте нашим поставщиком
                        p.intro__desc Расширьте свой бизнес, продавайте свои товары на нашем маркетплейс и зарабатывайте вместе с нами
                        a(href="#!").intro__btn.btn Каталог 
                    img(src="images/intro-3.png", alt="").intro__img
                