mixin services()
    .services 
        .services__body.container
            .services__item     
                img(src="images/services-1.svg", alt="").services__item-img
                .services__item-content 
                    p.services__item-title Расчет стоимости ремонта
                    p.services__item-p Рассчитаем все необходимые материалы от фундамента до крыши для строительства дома по вашему проекту или ремонта квартиры
                    a(href="#!").services__item-btn Рассчитать 
            .services__item     
                img(src="images/services-2.svg", alt="").services__item-img
                .services__item-content 
                    p.services__item-title Расчет стоимости доставки
                    p.services__item-p Интернет-магазин Lalalux предлагает услуги доставки строительных материалов и оборудования по всей Москве и Московской области
                    a(href="#!").services__item-btn Рассчитать 