doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(href="https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700;800&family=Open+Sans&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
    link(rel="stylesheet", href="styles/index.css")
  body 
    include components/header.pug 
    +header
    include components/intro.pug 
    +intro
    include components/advantages.pug 
    +advantages
    include components/services.pug 
    +services
    include components/catalog.pug 
    +catalog
    include components/hot.pug 
    +hot
    include components/about.pug 
    +about
    include components/footer.pug 
    +footer
    include components/popup.pug 
    +popup-tel
    +popup-login
    script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
    script(src="scripts/index.js") 